# Aggregate Function

In [1]:
%reload_ext sql

In [2]:
%sql sqlite:///course.db3

#### Create Fruit Table

In [3]:
%%sql
CREATE TABLE fruit_imports
(
	id integer,
	name varchar(20),
	season varchar(10),
	state varchar(20),
	supply integer,
	cost_per_unit decimal
);

 * sqlite:///course.db3
Done.

[]

In [4]:
%%sql
insert into fruit_imports values(1, 'Apple', 'All Year', 'Kansas', 32900, 0.22);
insert into fruit_imports values(2, 'Avocado', 'All Year', 'Nebraska', 27000, 0.15);
insert into fruit_imports values(3, 'Coconut', 'All Year', 'California', 15200, 0.75);
insert into fruit_imports values(4, 'Orange', 'Winter', 'California', 17000, 0.22);
insert into fruit_imports values(5, 'Pear', 'Winter', 'Iowa', 37250, 0.17);
insert into fruit_imports values(6, 'Lime', 'Spring', 'Indiana', 40400, 0.15);
insert into fruit_imports values(7, 'Mango', 'Spring', 'Texas', 13650, 0.60);
insert into fruit_imports values(8, 'Orange', 'Spring', 'Iowa', 18000, 0.26);
insert into fruit_imports values(9, 'Apricot', 'Spring', 'Indiana', 55000, 0.20);
insert into fruit_imports values(10, 'Cherry', 'Summer', 'Texas', 62150, 0.02);
insert into fruit_imports values(11, 'Cantaloupe', 'Summer', 'Texas', 8000, 0.49);
insert into fruit_imports values(12, 'Apricot', 'Summer', 'Kansas', 14500, 0.20);
insert into fruit_imports values(13, 'Mango', 'Summer', 'Texas', 17000, 0.68);
insert into fruit_imports values(14, 'Pear', 'Fall', 'Nebraska', 30500, 0.12);
insert into fruit_imports values(15, 'Grape', 'Fall', 'Illinois', 72500, 0.35);

 * sqlite:///course.db3
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql
SELECT * FROM fruit_imports

 * sqlite:///course.db3
Done.

[(1, 'Apple', 'All Year', 'Kansas', 32900, 0.22),
 (2, 'Avocado', 'All Year', 'Nebraska', 27000, 0.15),
 (3, 'Coconut', 'All Year', 'California', 15200, 0.75),
 (4, 'Orange', 'Winter', 'California', 17000, 0.22),
 (5, 'Pear', 'Winter', 'Iowa', 37250, 0.17),
 (6, 'Lime', 'Spring', 'Indiana', 40400, 0.15),
 (7, 'Mango', 'Spring', 'Texas', 13650, 0.6),
 (8, 'Orange', 'Spring', 'Iowa', 18000, 0.26),
 (9, 'Apricot', 'Spring', 'Indiana', 55000, 0.2),
 (10, 'Cherry', 'Summer', 'Texas', 62150, 0.02),
 (11, 'Cantaloupe', 'Summer', 'Texas', 8000, 0.49),
 (12, 'Apricot', 'Summer', 'Kansas', 14500, 0.2),
 (13, 'Mango', 'Summer', 'Texas', 17000, 0.68),
 (14, 'Pear', 'Fall', 'Nebraska', 30500, 0.12),
 (15, 'Grape', 'Fall', 'Illinois', 72500, 0.35)]

### Excercise 1.

1. Write Quesry Shown States and Largest Amount of Fruit Supply

In [8]:
%%sql
SELECT state, SUM(supply)
FROM fruit_imports
GROUP BY state 
ORDER BY SUM(supply) desc

 * sqlite:///course.db3
Done.

[('Texas', 100800),
 ('Indiana', 95400),
 ('Illinois', 72500),
 ('Nebraska', 57500),
 ('Iowa', 55250),
 ('Kansas', 47400),
 ('California', 32200)]

2. Write a query that returns the most expensive cost_per_unit of every season. The query should display 2 columns, the season and the cost_per_unit

In [14]:
%%sql
SELECT season, MAX(cost_per_unit)
FROM fruit_imports
GROUP BY season
ORDER BY MAX(cost_per_unit) desc

 * sqlite:///course.db3
Done.

[('All Year', 0.75),
 ('Summer', 0.68),
 ('Spring', 0.6),
 ('Fall', 0.35),
 ('Winter', 0.22)]

3. Write a query that returns the state that has more than 1 import of the same fruit.

In [17]:
%%sql
SELECT state, COUNT(name)
FROM fruit_imports
GROUP BY state
HAVING COUNT(name) > 1
ORDER BY COUNT(name) desc

 * sqlite:///course.db3
Done.

[('Texas', 4),
 ('California', 2),
 ('Indiana', 2),
 ('Iowa', 2),
 ('Kansas', 2),
 ('Nebraska', 2)]

4. Write a query that returns the seasons that produce either 3 fruits or 4 fruits.

In [23]:
%%sql
SELECT season, COUNT(*) as kind
FROM fruit_imports
GROUP BY season
HAVING COUNT(*) > 2

 * sqlite:///course.db3
Done.

[('All Year', 3), ('Spring', 4), ('Summer', 4)]

5. Write a query that takes into consideration the supply and cost_per_unit columns for determining the total cost and returns the most expensive state with the total cost.

In [25]:
%%sql
SELECT state, 
SUM(supply * cost_per_unit) as total_cost
FROM fruit_imports
GROUP BY state
ORDER BY total_cost desc

 * sqlite:///course.db3
Done.

[('Illinois', 25375.0),
 ('Texas', 24913.0),
 ('Indiana', 17060.0),
 ('California', 15140.0),
 ('Iowa', 11012.5),
 ('Kansas', 10138.0),
 ('Nebraska', 7710.0)]

### Excercise 2.

1. Count First_name

In [31]:
%%sql
SELECT first_name,COUNT(first_name)
FROM employees
GROUP BY first_name
--HAVING COUNT(first_name) > 1
ORDER BY COUNT(first_name) desc

 * sqlite:///course.db3
Done.

[('Billie', 3),
 ('Roslyn', 3),
 ('Akim', 2),
 ('Alfons', 2),
 ('Alfy', 2),
 ('Alverta', 2),
 ('Annie', 2),
 ('Ashia', 2),
 ('Berkley', 2),
 ('Bethena', 2),
 ('Bev', 2),
 ('Blake', 2),
 ('Brandice', 2),
 ('Brooks', 2),
 ('Bryna', 2),
 ('Cal', 2),
 ('Cary', 2),
 ('Chastity', 2),
 ('Cody', 2),
 ('Corabel', 2),
 ('Danice', 2),
 ('Darrin', 2),
 ('Dasi', 2),
 ('Del', 2),
 ('Duke', 2),
 ('Gav', 2),
 ('Gleda', 2),
 ('Glyn', 2),
 ('Gran', 2),
 ('Hallsy', 2),
 ('Issi', 2),
 ('Jania', 2),
 ('Jefferson', 2),
 ('Jodi', 2),
 ('Kath', 2),
 ('Kerry', 2),
 ('Kincaid', 2),
 ('Kristoffer', 2),
 ('Krystalle', 2),
 ('Lanny', 2),
 ('Lawton', 2),
 ('Lydon', 2),
 ('Lyndy', 2),
 ('Lynn', 2),
 ('Manolo', 2),
 ('Marjorie', 2),
 ('Maurise', 2),
 ('Michail', 2),
 ('Mill', 2),
 ('Nadia', 2),
 ('Nelli', 2),
 ('Niles', 2),
 ('Olenolin', 2),
 ('Patty', 2),
 ('Phoebe', 2),
 ('Roarke', 2),
 ('Rodrique', 2),
 ('Rory', 2),
 ('Spense', 2),
 ('Stacee', 2),
 ('Stefano', 2),
 ('Stormy', 2),
 ('Tammie', 2),
 ('Terry', 2),
 ('Thorpe', 2),
 ('Wandis', 2),
 ('Willard', 2),
 ('Yancy', 2),
 ('Yardley', 2),
 ('Abbot', 1),
 ('Abbott', 1),
 ('Abby', 1),
 ('Adam', 1),
 ('Addia', 1),
 ('Addy', 1),
 ('Adelaida', 1),
 ('Adelaide', 1),
 ('Adrian', 1),
 ('Adrianna', 1),
 ('Adriena', 1),
 ('Aeriell', 1),
 ('Afton', 1),
 ('Aggie', 1),
 ('Agnella', 1),
 ('Aguie', 1),
 ('Ainsley', 1),
 ('Albert', 1),
 ('Aldo', 1),
 ('Aldon', 1),
 ('Aldwin', 1),
 ('Alejandro', 1),
 ('Alexander', 1),
 ('Alexina', 1),
 ('Ali', 1),
 ('Alis', 1),
 ('Alisa', 1),
 ('Alister', 1),
 ('Allx', 1),
 ('Almeria', 1),
 ('Aloysius', 1),
 ('Alphonse', 1),
 ('Alvin', 1),
 ('Alyson', 1),
 ('Amalita', 1),
 ('Ame', 1),
 ('Anatola', 1),
 ('Anatollo', 1),
 ('Anders', 1),
 ('Andra', 1),
 ('Anetta', 1),
 ('Angie', 1),
 ('Anitra', 1),
 ('Annora', 1),
 ('April', 1),
 ('Arabel', 1),
 ('Arabelle', 1),
 ('Archambault', 1),
 ('Archibald', 1),
 ('Archibold', 1),
 ('Ardeen', 1),
 ('Ardelia', 1),
 ('Ardyce', 1),
 ('Ari', 1),
 ('Arlina', 1),
 ('Arri', 1),
 ('Artair', 1),
 ('Arvy', 1),
 ('Asher', 1),
 ('Ashlin', 1),
 ('Aurlie', 1),
 ('Austina', 1),
 ('Averyl', 1),
 ('Avram', 1),
 ('Avrom', 1),
 ('Aylmar', 1),
 ('Babara', 1),
 ('Barbee', 1),
 ('Barby', 1),
 ('Barrett', 1),
 ('Bartel', 1),
 ('Bartholemy', 1),
 ('Bartlett', 1),
 ('Basile', 1),
 ('Bathsheba', 1),
 ('Baxter', 1),
 ('Beale', 1),
 ('Bear', 1),
 ('Beatrisa', 1),
 ('Bebe', 1),
 ('Becka', 1),
 ('Bekki', 1),
 ('Benedikta', 1),
 ('Benjamen', 1),
 ('Benjamin', 1),
 ('Benji', 1),
 ('Benn', 1),
 ('Benni', 1),
 ('Benyamin', 1),
 ('Bernadene', 1),
 ('Bernardine', 1),
 ('Bernardo', 1),
 ('Berri', 1),
 ('Berrie', 1),
 ('Berte', 1),
 ('Berthe', 1),
 ('Berti', 1),
 ('Bertie', 1),
 ('Betsey', 1),
 ('Betsy', 1),
 ('Bianca', 1),
 ('Binni', 1),
 ('Birgitta', 1),
 ('Bobby', 1),
 ('Bonnee', 1),
 ('Bordie', 1),
 ('Borg', 1),
 ('Bradley', 1),
 ('Brandise', 1),
 ('Brenn', 1),
 ('Brier', 1),
 ('Brittaney', 1),
 ('Bronny', 1),
 ('Bryce', 1),
 ('Buckie', 1),
 ('Bunny', 1),
 ('Burl', 1),
 ('Butch', 1),
 ('Byrann', 1),
 ('Byrle', 1),
 ('Byrom', 1),
 ('Byron', 1),
 ('Camey', 1),
 ('Candra', 1),
 ('Caralie', 1),
 ('Carce', 1),
 ('Caresse', 1),
 ('Carissa', 1),
 ('Carline', 1),
 ('Carling', 1),
 ('Carly', 1),
 ('Carlyle', 1),
 ('Carmela', 1),
 ('Carmelita', 1),
 ('Carr', 1),
 ('Caryl', 1),
 ('Casandra', 1),
 ('Cassandra', 1),
 ('Cassie', 1),
 ('Cathrine', 1),
 ('Cati', 1),
 ('Caty', 1),
 ('Cayla', 1),
 ('Cecilius', 1),
 ('Celinka', 1),
 ('Celisse', 1),
 ('Chantal', 1),
 ('Chantalle', 1),
 ('Charin', 1),
 ('Charis', 1),
 ('Charla', 1),
 ('Charlie', 1),
 ('Charmion', 1),
 ('Chelsey', 1),
 ('Cherianne', 1),
 ('Cherilyn', 1),
 ('Cherye', 1),
 ('Chilton', 1),
 ('Chloris', 1),
 ('Chrissy', 1),
 ('Christal', 1),
 ('Christan', 1),
 ('Christine', 1),
 ('Christoforo', 1),
 ('Christophorus', 1),
 ('Cindi', 1),
 ('Cirstoforo', 1),
 ('Clarance', 1),
 ('Claribel', 1),
 ('Claudell', 1),
 ('Claudetta', 1),
 ('Claudine', 1),
 ('Claybourne', 1),
 ('Clementina', 1),
 ('Clemmie', 1),
 ('Cleve', 1),
 ('Cobbie', 1),
 ('Colby', 1),
 ('Collie', 1),
 ('Conrad', 1),
 ('Constanta', 1),
 ('Constantine', 1),
 ('Corabella', 1),
 ('Coralie', 1),
 ('Cordelie', 1),
 ('Cordie', 1),
 ('Cornelia', 1),
 ('Cornelle', 1),
 ('Cortie', 1),
 ('Cory', 1),
 ('Courtnay', 1),
 ('Courtney', 1),
 ('Creigh', 1),
 ('Cristen', 1),
 ('Cristiano', 1),
 ('Curran', 1),
 ('Curtice', 1),
 ('Cy', 1),
 ('Cybil', 1),
 ('Cyndi', 1),
 ('Dalli', 1),
 ('Damara', 1),
 ('Damiano', 1),
 ('Dani', 1),
 ('Darbie', 1),
 ('Darell', 1),
 ('Daren', 1),
 ('Darin', 1),
 ('Darius', 1),
 ('Darn', 1),
 ('Darnall', 1),
 ('Darnell', 1),
 ('Daryl', 1),
 ('Dayle', 1),
 ('De witt', 1),
 ('Deb', 1),
 ('Deeyn', 1),
 ('Deina', 1),
 ('Delila', 1),
 ('Demott', 1),
 ('Denney', 1),
 ('Dennison', 1),
 ('Devon', 1),
 ('Devondra', 1),
 ('Dexter', 1),
 ('Dianemarie', 1),
 ('Dicky', 1),
 ('Dionysus', 1),
 ('Doe', 1),
 ('Doll', 1),
 ('Dona', 1),
 ('Donni', 1),
 ('Donny', 1),
 ('Donovan', 1),
 ('Doralin', 1),
 ('Dore', 1),
 ('Dorene', 1),
 ('Dorothea', 1),
 ('Dorree', 1),
 ('Dreddy', 1),
 ('Dulsea', 1),
 ('Dun', 1),
 ('Dunc', 1),
 ('Earle', 1),
 ('Eddy', 1),
 ('Eden', 1),
 ('Edgard', 1),
 ('Edik', 1),
 ('Edna', 1),
 ('Edvard', 1),
 ('Efrem', 1),
 ('Eilis', 1),
 ('Eimile', 1),
 ('Elbertina', 1),
 ('Eldredge', 1),
 ('Elene', 1),
 ('Elianora', 1),
 ('Elihu', 1),
 ('Elisabetta', 1),
 ('Elizabeth', 1),
 ('Ellene', 1),
 ('Ellerey', 1),
 ('Ellery', 1),
 ('Ellyn', 1),
 ('Elnora', 1),
 ('Eloisa', 1),
 ('Elsinore', 1),
 ('Elvera', 1),
 ('Elvira', 1),
 ('Elwin', 1),
 ('Em', 1),
 ('Emanuele', 1),
 ('Emlyn', 1),
 ('Emmalynn', 1),
 ('Enid', 1),
 ('Enrico', 1),
 ('Enrique', 1),
 ('Erhard', 1),
 ('Erich', 1),
 ('Erminia', 1),
 ('Ernestine', 1),
 ('Ernesto', 1),
 ('Esme', 1),
 ('Estevan', 1),
 ('Estrella', 1),
 ('Eudora', 1),
 ('Eugenia', 1),
 ('Eugenius', 1),
 ('Eunice', 1),
 ('Euphemia', 1),
 ('Ev', 1),
 ('Evangelin', 1),
 ('Evey', 1),
 ('Evin', 1),
 ('Ewart', 1),
 ('Ezri', 1),
 ('Falkner', 1),
 ('Fanya', 1),
 ('Farlie', 1),
 ('Faustine', 1),
 ('Fee', 1),
 ('Feliks', 1),
 ('Fergus', 1),
 ('Ferrel', 1),
 ('Fields', 1),
 ('Filippa', 1),
 ('Fina', 1),
 ('Fiona', 1),
 ('Fiorenze', 1),
 ('Fleming', 1),
 ('Florrie', 1),
 ('Flory', 1),
 ('Flss', 1),
 ('Fonzie', 1),
 ('Fowler', 1),
 ('Francesco', 1),
 ('Francoise', 1),
 ('Frank', 1),
 ('Frasquito', 1),
 ('Frederico', 1),
 ('Fredia', 1),
 ('Fredrick', 1),
 ('Fredrika', 1),
 ('Freeland', 1),
 ('Fulton', 1),
 ('Gabriel', 1),
 ('Gabriella', 1),
 ('Gabriello', 1),
 ('Garald', 1),
 ('Gardiner', 1),
 ('Garold', 1),
 ('Garrard', 1),
 ('Garrot', 1),
 ('Geneva', 1),
 ('Genvieve', 1),
 ('Geoff', 1),
 ('Georgeanne', 1),
 ('Georgi', 1),
 ('Georgianne', 1),
 ('Gerick', 1),
 ('Gerri', 1),
 ('Gery', 1),
 ('Giacopo', 1),
 ('Giana', 1),
 ('Gianina', 1),
 ('Gianni', 1),
 ('Gilda', 1),
 ('Gilemette', 1),
 ('Gillie', 1),
 ('Gilly', 1),
 ('Giorgio', 1),
 ('Giralda', 1),
 ('Glory', 1),
 ('Glynn', 1),
 ('Goldarina', 1),
 ('Gordan', 1),
 ('Gorden', 1),
 ('Gracia', 1),
 ('Grady', 1),
 ('Granny', 1),
 ('Gregoire', 1),
 ('Griz', 1),
 ('Guenevere', 1),
 ('Guntar', 1),
 ('Gustave', 1),
 ('Gustavo', 1),
 ('Gweneth', 1),
 ('Haily', 1),
 ('Hali', 1),
 ('Hanna', 1),
 ('Harley', 1),
 ('Harli', 1),
 ('Harold', 1),
 ('Harvey', 1),
 ('Heath', 1),
 ('Helena', 1),
 ('Henderson', 1),
 ('Hendrik', 1),
 ('Henrik', 1),
 ('Hermione', 1),
 ('Hester', 1),
 ('Hewet', 1),
 ('Hilario', 1),
 ('Hillary', 1),
 ('Hogan', 1),
 ('Holt', 1),
 ('Horatia', 1),
 ('Horatius', 1),
 ('Horst', 1),
 ('Howey', 1),
 ('Hugh', 1),
 ('Husain', 1),
 ('Hyman', 1),
 ('Ibby', 1),
 ('Ileane', 1),
 ('Ingrim', 1),
 ('Iosep', 1),
 ('Ira', 1),
 ('Irita', 1),
 ('Isabella', 1),
 ('Isis', 1),
 ('Ivan', 1),
 ('Ivar', 1),
 ('Iver', 1),
 ('Ivett', 1),
 ('Ivie', 1),
 ('Ivory', 1),
 ('Izabel', 1),
 ('Jabez', 1),
 ('Jacklyn', 1),
 ('Jacob', 1),
 ('Jacquelin', 1),
 ('Jacqui', 1),
 ('Jada', 1),
 ('Jaimie', 1),
 ('Jakie', 1),
 ('Jameson', 1),
 ('Jamie', 1),
 ('Jamison', 1),
 ('Jarad', 1),
 ('Jarrett', 1),
 ('Jasper', 1),
 ('Javier', 1),
 ('Jayme', 1),
 ('Jaymee', 1),
 ('Jeane', 1),
 ('Jephthah', 1),
 ('Jeramie', 1),
 ('Jermain', 1),
 ('Jerry', 1),
 ('Jessalyn', 1),
 ('Jessee', 1),
 ('Jesselyn', 1),
 ('Jessey', 1),
 ('Jewelle', 1),
 ('Jilleen', 1),
 ('Job', 1),
 ('Jobi', 1),
 ('Jobina', 1),
 ('Joete', 1),
 ('Johnette', 1),
 ('Johnnie', 1),
 ('Joleen', 1),
 ('Jonas', 1),
 ('Jonathan', 1),
 ('Jorry', 1),
 ('Joseito', 1),
 ('Joshua', 1),
 ('Josselyn', 1),
 ('Juan', 1),
 ('Juliane', 1),
 ('Juliann', 1),
 ('Kaleb', 1),
 ('Kalie', 1),
 ('Kamillah', 1),
 ('Kariotta', 1),
 ('Karlee', 1),
 ('Karlik', 1),
 ('Karlis', 1),
 ('Karna', 1),
 ('Katharine', 1),
 ('Kathi', 1),
 ('Kathye', 1),
 ('Katlin', 1),
 ('Kaye', 1),
 ('Kayle', 1),
 ('Keen', 1),
 ('Keenan', 1),
 ('Kelby', 1),
 ('Kellen', 1),
 ('Kent', 1),
 ('Kenton', 1),
 ('Kermy', 1),
 ('Kerrin', 1),
 ('Kerstin', 1),
 ('Kevin', 1),
 ('Ki', 1),
 ('Kimberley', 1),
 ('Kimberly', 1),
 ('Kimberlyn', 1),
 ('King', 1),
 ('Kingston', 1),
 ('Kinnie', 1),
 ('Kippie', 1),
 ('Kippy', 1),
 ('Kit', 1),
 ('Kori', 1),
 ('Krista', 1),
 ('Kristin', 1),
 ('Kristos', 1),
 ('Kyrstin', 1),
 ('Lacee', 1),
 ('Ladonna', 1),
 ('Lanie', 1),
 ('Larry', 1),
 ('Laryssa', 1),
 ('Laure', 1),
 ('Lauree', 1),
 ('Lauren', 1),
 ('Lauretta', 1),
 ('Laurie', 1),
 ('Laverne', 1),
 ('Lazarus', 1),
 ('Lebbie', 1),
 ('Leilah', 1),
 ('Lek', 1),
 ('Leland', 1),
 ('Lenka', 1),
 ('Leonidas', 1),
 ('Leonora', 1),
 ('Leonore', 1),
 ('Levi', 1),
 ('Levin', 1),
 ('Lew', 1),
 ('Lilli', 1),
 ('Lily', 1),
 ('Lindon', 1),
 ('Lindsay', 1),
 ('Lindsey', 1),
 ('Lindsy', 1),
 ('Lindy', 1),
 ('Linnell', 1),
 ('Linus', 1),
 ('Lion', 1),
 ('Lionel', 1),
 ('Lissy', 1),
 ('Lockwood', 1),
 ('Lois', 1),
 ('Lorelle', 1),
 ('Lorenzo', 1),
 ('Lorne', 1),
 ('Lotta', 1),
 ('Lucien', 1),
 ('Lucilia', 1),
 ('Lucius', 1),
 ('Lucy', 1),
 ('Ludwig', 1),
 ('Lukas', 1),
 ('Lurette', 1),
 ('Ly', 1),
 ('Lyman', 1),
 ('Lyn', 1),
 ('Mag', 1),
 ('Maggie', 1),
 ('Maisie', 1),
 ('Malcolm', 1),
 ('Malory', 1),
 ('Mandel', 1),
 ('Mandy', 1),
 ('Manfred', 1),
 ('Marc', 1),
 ('Marcos', 1),
 ('Margret', 1),
 ('Margy', 1),
 ('Maridel', 1),
 ('Marijo', 1),
 ('Marlane', 1),
 ('Marlena', 1),
 ('Marlie', 1),
 ('Marlowe', 1),
 ('Marquita', 1),
 ('Maryanna', 1),
 ('Marybelle', 1),
 ('Maryellen', 1),
 ('Marylin', 1),
 ('Maryrose', 1),
 ('Matt', 1),
 ('Matty', 1),
 ('Maurice', 1),
 ('Maurita', 1),
 ('Max', 1),
 ('Maximilianus', 1),
 ('Maye', 1),
 ('Mayer', 1),
 ('Megan', 1),
 ('Melita', 1),
 ('Melonie', 1),
 ('Mendie', 1),
 ('Meredithe', 1),
 ('Merell', 1),
 ('Merlina', 1),
 ('Merola', 1),
 ('Merrily', 1),
 ('Merv', 1),
 ('Mikael', 1),
 ('Milissent', 1),
 ('Minna', 1),
 ('Mira', 1),
 ('Mirelle', 1),
 ('Modestine', 1),
 ('Modesty', 1),
 ('Moe', 1),
 ('Moise', 1),
 ('Mollie', 1),
 ('Monique', 1),
 ('Montgomery', 1),
 ('Mortimer', 1),
 ('Morty', 1),
 ('Murray', 1),
 ('Murvyn', 1),
 ('My', 1),
 ('Mychal', 1),
 ('Myra', 1),
 ('Myrtice', 1),
 ('Nadine', 1),
 ('Nalani', 1),
 ('Nan', 1),
 ('Nap', 1),
 ('Natalee', 1),
 ('Nathalia', 1),
 ('Ned', 1),
 ('Neddy', 1),
 ('Nefen', 1),
 ('Nehemiah', 1),
 ('Nels', 1),
 ('Nev', 1),
 ('Nickey', 1),
 ('Nicolis', 1),
 ('Ninetta', 1),
 ('Noellyn', 1),
 ('Noelyn', 1),
 ('Nolan', 1),
 ('Nolly', 1),
 ('Nonnah', 1),
 ('Norbie', 1),
 ('Norina', 1),
 ('Norine', 1),
 ('Norri', 1),
 ('Octavius', 1),
 ('Odessa', 1),
 ('Odey', 1),
 ('Ody', 1),
 ('Olenka', 1),
 ('Olimpia', 1),
 ('Olivie', 1),
 ('Olly', 1),
 ('Olvan', 1),
 ('Orbadiah', 1),
 ('Orelia', 1),
 ('Orland', 1),
 ('Orrin', 1),
 ('Orsa', 1),
 ('Otha', 1),
 ('Paddy', 1),
 ('Pall', 1),
 ('Parnell', 1),
 ('Pascale', 1),
 ('Paten', 1),
 ('Patricio', 1),
 ('Patsy', 1),
 ('Paulie', 1),
 ('Paulo', 1),
 ('Paxon', 1),
 ('Peadar', 1),
 ('Peggi', 1),
 ('Penelopa', 1),
 ('Pennie', 1),
 ('Petey', 1),
 ('Petr', 1),
 ('Peyter', 1),
 ('Peyton', 1),
 ('Phaidra', 1),
 ('Philippine', 1),
 ('Philis', 1),
 ('Phyllis', 1),
 ('Poppy', 1),
 ('Port', 1),
 ('Portie', 1),
 ('Preston', 1),
 ('Quentin', 1),
 ('Rafaello', 1),
 ('Raina', 1),
 ('Ralph', 1),
 ('Ram', 1),
 ('Rancell', 1),
 ('Raquel', 1),
 ('Rayna', 1),
 ('Read', 1),
 ('Redford', 1),
 ('Reese', 1),
 ('Reg', 1),
 ('Reidar', 1),
 ('Reinold', 1),
 ('Remy', 1),
 ('Renado', 1),
 ('Renault', 1),
 ('Retha', 1),
 ('Reuben', 1),
 ('Rex', 1),
 ('Rhianna', 1),
 ('Riane', 1),
 ('Ricard', 1),
 ('Riley', 1),
 ('Ripley', 1),
 ('Rob', 1),
 ('Robenia', 1),
 ('Robers', 1),
 ('Robin', 1),
 ('Rochette', 1),
 ('Rockey', 1),
 ('Rodolph', 1),
 ('Roger', 1),
 ('Roma', 1),
 ('Romona', 1),
 ('Romy', 1),
 ('Ronica', 1),
 ('Roobbie', 1),
 ('Rooney', 1),
 ('Rora', 1),
 ('Rorke', 1),
 ('Rosalia', 1),
 ('Rouvin', 1),
 ('Roxane', 1),
 ('Roxie', 1),
 ('Rozamond', 1),
 ('Roze', 1),
 ('Rubetta', 1),
 ('Rudie', 1),
 ('Rudolf', 1),
 ('Rudolph', 1),
 ('Rustin', 1),
 ('Rutherford', 1),
 ('Salli', 1),
 ('Salomi', 1),
 ('Samara', 1),
 ('Sammie', 1),
 ('Sandro', 1),
 ('Sapphira', 1),
 ('Sashenka', 1),
 ('Say', 1),
 ('Sayers', 1),
 ('Sayres', 1),
 ('Sebastian', 1),
 ('Seline', 1),
 ('Selle', 1),
 ('Sephira', 1),
 ('Shae', 1),
 ('Shaina', 1),
 ('Shawna', 1),
 ('Sheffie', 1),
 ('Sheila', 1),
 ('Sheila-kathryn', 1),
 ('Shell', 1),
 ('Shelly', 1),
 ('Shelton', 1),
 ('Shem', 1),
 ('Sherwynd', 1),
 ('Sherye', 1),
 ('Shirleen', 1),
 ('Sibilla', 1),
 ('Sibyl', 1),
 ('Sidney', 1),
 ('Sigismund', 1),
 ('Sileas', 1),
 ('Silvain', 1),
 ('Simeon', 1),
 ('Sioux', 1),
 ('Sofia', 1),
 ('Sonnnie', 1),
 ('Sosanna', 1),
 ('Stanfield', 1),
 ('Stanislaw', 1),
 ('Stanley', 1),
 ('Stanwood', 1),
 ('Starlin', 1),
 ('Stefa', 1),
 ('Stefania', 1),
 ('Stella', 1),
 ('Stephi', 1),
 ('Sterling', 1),
 ('Stevana', 1),
 ('Stirling', 1),
 ('Sue', 1),
 ('Susan', 1),
 ('Sutherlan', 1),
 ('Suzie', 1),
 ('Swen', 1),
 ('Sydney', 1),
 ('Sylvester', 1),
 ('Tab', 1),
 ('Tabb', 1),
 ('Tabbi', 1),
 ('Tabitha', 1),
 ('Tailor', 1),
 ('Taite', 1),
 ('Tallie', 1),
 ('Tally', 1),
 ('Talyah', 1),
 ('Tamar', 1),
 ('Tamiko', 1),
 ('Tann', 1),
 ('Tanner', 1),
 ('Tate', 1),
 ('Tatiania', 1),
 ('Tawnya', 1),
 ('Teena', 1),
 ('Teodor', 1),
 ('Teodora', 1),
 ('Teri', 1),
 ('Tessi', 1),
 ('Thorvald', 1),
 ('Timotheus', 1),
 ('Timothy', 1),
 ('Tobi', 1),
 ('Toby', 1),
 ('Tonya', 1),
 ('Torrin', 1),
 ('Tracey', 1),
 ('Trescha', 1),
 ('Trevar', 1),
 ('Tripp', 1),
 ('Tyson', 1),
 ('Urban', 1),
 ('Urson', 1),
 ('Ursuline', 1),
 ('Valdemar', 1),
 ('Valenka', 1),
 ('Valentina', 1),
 ('Valentine', 1),
 ('Valera', 1),
 ('Valry', 1),
 ('Vanda', 1),
 ('Verina', 1),
 ('Verney', 1),
 ('Vickie', 1),
 ('Vincents', 1),
 ('Viv', 1),
 ('Vonny', 1),
 ('Wain', 1),
 ('Wash', 1),
 ('Way', 1),
 ('Webb', 1),
 ('Wendel', 1),
 ('Wendell', 1),
 ('Wesley', 1),
 ('Westbrooke', 1),
 ('Weylin', 1),
 ('Whitby', 1),
 ('Wilek', 1),
 ('Wilfrid', 1),
 ('Wilhelmina', 1),
 ('Willabella', 1),
 ('Willetta', 1),
 ('William', 1),
 ('Wilmar', 1),
 ('Worth', 1),
 ('Wrennie', 1),
 ('Wyndham', 1),
 ('Wynne', 1),
 ('Xever', 1),
 ('Yale', 1),
 ('Yanaton', 1),
 ('Yasmin', 1),
 ('Ysabel', 1),
 ('Yuma', 1),
 ('Zahara', 1),
 ('Zane', 1),
 ('Zebulon', 1),
 ('Zeke', 1),
 ('Zita', 1)]

2. Count Unique Department

In [34]:
%%sql
SELECT department FROM employees
GROUP BY department --Because Groupby will Merge for Any single Unique Value

 * sqlite:///course.db3
Done.

[('Automotive',),
 ('Beauty',),
 ('Books',),
 ('Camping',),
 ('Children Clothing',),
 ('Clothing',),
 ('Computers',),
 ('Cosmetics',),
 ('Decor',),
 ('Device Repair',),
 ('First Aid',),
 ('Furniture',),
 ('Games',),
 ('Garden',),
 ('Grocery',),
 ('Jewelry',),
 ('Maintenance',),
 ('Movies',),
 ('Music',),
 ('Pharmacy',),
 ('Phones & Tablets',),
 ('Plumbing',),
 ('Security',),
 ('Sports',),
 ('Tools',),
 ('Toys',),
 ('Vitamins',)]

4. Group Salary By Gender and Region

In [37]:
%%sql
SELECT gender, region_id, 
round(AVG(salary)) as avg_sal, 
MIN(salary) as min_sal,
MAX(salary) as max_sal
FROM employees
GROUP BY gender, region_id
ORDER BY gender desc, region_id asc

 * sqlite:///course.db3
Done.

[('M', 1, 93855.0, 25602, 157861),
 ('M', 2, 95498.0, 21735, 163794),
 ('M', 3, 94328.0, 21626, 164470),
 ('M', 4, 96746.0, 23348, 164582),
 ('M', 5, 85495.0, 21023, 166569),
 ('M', 6, 86841.0, 20664, 162845),
 ('M', 7, 92386.0, 20542, 162522),
 ('F', 1, 86087.0, 21024, 163361),
 ('F', 2, 91431.0, 21931, 166765),
 ('F', 3, 91831.0, 24614, 158268),
 ('F', 4, 90030.0, 25037, 166976),
 ('F', 5, 91242.0, 20613, 161532),
 ('F', 6, 90435.0, 20776, 164588),
 ('F', 7, 97803.0, 23582, 166016)]